body {
    background-color: black;
    color: white;
}

#editor { 
    position: absolute;
    width: 60%;
    height: 60%;
}

.sidenav {
    height: 60%;
    width: 60%;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenav pre {
    padding-left: 16px;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.main {
    margin-right: 160px;
    font-size: 28px;
    padding: 0px 10px 0px 0px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 18px;}
}

#runbutton {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}